[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/cpp-terminal"]
	path = extern/cpp-terminal
	url = git@github.com:jupyter-xeus/cpp-terminal.git
[submodule "extern/dbus-cxx"]
	path = extern/dbus-cxx
	url = git@github.com:dbus-cxx/dbus-cxx.git
